// Place all the styles related to the question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table tr td:empty {
    width: 50px;
}

table tr td {
    padding-top: 10px;
    padding-bottom: 10px;

}

body {
  background: #FCFBE3;
  color: blue;
}

table {
  border: 1px dotted white;
  padding: 20px
}

a {
  color:blue
}